build
.gradle
.gradletasknamecache
.idea/*
.idea/modules/*
.idea/codeStyles/*
.idea/dataSources/*
.idea/shelf
out
*.iml
.vscode

*.versionsBackup
*.releaseBackup
release.properties
local.properties
*.swp

.video
.attach_pid*
apidoc


bin/
.settings
.project
.classpath
.konan

.DS_Store

hs_err_pid*.log

gradle-user-home

.fleet
.kotlin

scan-journal.log
